@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter";
}

.links ul li a{
    color:hsl(236, 13%, 42%);
}

    

.content h2{
    color: hsl(233,8%,79%);
    font-size: 2em;
}
